[user]
  email = yersa@finwo.nl
  name = Yersa Nordman
[push]
  followTags = true
[credential]
  helper = store
[pull]
  rebase = false
[init]
  defaultBranch = master
[core]
  ignorecase = false
  filemode = true
